* {
	font-family: sans-serif;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}
body {
	background-color: #000;
	color: #FFF;
}
label {
	display: inline-block;
    min-width: 128px;
	text-align: left;
}
input, 
select {
	display: inline-block;
    min-width: 192px;
    border: 0;
    padding: 4px 6px;
    margin: 1px;
}
select {
	padding-left: 2px;
}
input {
	padding: 5px 6px;
}
input[type="checkbox"] {
	min-width: 42px;
	margin: 3px 0;
}
input[type="button"],
input[type="submit"] {
	min-width: 96px;
}
td {
	min-width: 128px;
	text-align: left;
}
h2 {
	margin: 40px 0;
}
h3 {
	margin: 16px 0 0 0;
}
#main_win {
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	max-width: 800px;
	text-align: center;
	margin: auto;
	overflow: hidden;
}
#header {
	width: 100%;
}
#footer {
	width: 100%;
}
#pages {
	width: 100%;
	height: 100%;
}
#pages_menu {
	display: flex;
    flex-wrap: wrap;
	padding: 8px;
}
#pages_menu hr {
	width: 100%;
    height: 0;
    margin: 0;
    border: 0;
}
.page {
	display: none;
	width: 100%;
	height: 100%;
}
.page_content {
	min-height: 300px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	padding: 24px 8px;
}
.page_content hr {
	width: 100%;
    height: 21px;
    margin: 0;
    border: 0;
}
#show_result {
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	overflow: auto;
}

.menu_button {
	background: #000;
    color: #fff;
    border: 1px solid;
	border-radius: 0px;
    padding: 6px 16px;
    margin: 2px;
    cursor: pointer;
    flex-grow: 1;
}
.menu_button:hover {
	background: #16ABC3;
	color: #fff;
}
.menu_button.active {
	/*box-shadow: 0 0 0 2px rgba(22, 171, 195, 0.85);*/
	background: #16ABC3;
	color: #fff;
}
.interface_button {
	background: #ceff1a;
    color: #000;
    border: 1px solid #ceff1a;
    border-radius: 0px;
    padding: 5px 15px;
    margin: 2px;
    cursor: pointer;
}
.interface_button:hover {
	background: #000;
	color: #ceff1a;
	border: 1px solid white;
}
.interface_button_box {
	display: flex; 
	flex-wrap: wrap; 
	padding: 8px;
	justify-content: center;
}
.interface_button_box hr {
	width: 100%;
	height: 0px;
	border: 0;
	margin: 2px;
}

.input-inline-indicator {
    position: absolute;
    top: 4px;
	right: 4px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #f00;
}
.input-inline-indicator.secure {
	background: #0f0;
}
.input-inline-indicator.inactive {
	background: #fff;
}

@media only screen and (max-width: 380px) {
    body {
        margin: 0;
    }
	#main_win {
		border: 0;
	}
	td {
		min-width: 50px;
	}
	.interface_button {
		min-width: 192px;
	}
	input[type="button"],
	input[type="submit"] {
		min-width: 192px;
	}
	label {
		min-width: 192px;
	}
	td label {
		min-width: 128px;
	}
	.input-inline-indicator {
		top: 24px;
		right: 24px;
	}
}