#smarthome-devices-list {
    width: 100%;
	padding: 0 16px;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.smarthome-item {
	border-radius: 0px;
	background: #17acc3;
    color: #fff;
	width: 100%;
    margin: 2px 0px;
}
.smarthome-item-title {
	background: #beff1a;
    color: #121212;
	padding: 8px;
}
.smarthome-item-body {
	padding: 8px;
}

.smarthome-item-body select {
	background: #212121;
    color: #eee;
    border-bottom: 1px solid #eee;
}